<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <system.web/>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        throwExceptions="true" 
        internalLogFile="NlogErr.txt" 
        internalLogLevel="Trace">
    <targets async="true">

      <target name="logfile" xsi:type="File" fileName="NlogFile.txt" />
      <target name="logconsole" xsi:type="Console" />

      <!--gmailConnection-->
      <target name="gmail" xsi:type="Mail"
              smtpServer="smtp.gmail.com"
              smtpPort="587"
              smtpAuthentication="Basic"
              smtpUsername="cemileburcuatay@gmail.com"
              smtpPassword="cba1108."
              enableSsl="true"
              from="cemileburcuatay@gmail.com"
              to="c.brcaty@gmail.com" />

      <target name="database" xsi:type="Database" >

        <connectionString>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Log;Integrated Security=True;</connectionString>
        <commandText>
          insert into dbo.Log (
          Application, Logged, Level, Message,
          Logger, CallSite, Exception
          ) values (
          @Application, @Logged, @Level, @Message,
          @Logger, @Callsite, @Exception
          );
        </commandText>

        <parameter name="@application" layout="AspNetCoreNlog" />
        <parameter name="@logged" layout="${date}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@message" layout="${message}" />

        <parameter name="@logger" layout="${logger}" />
        <parameter name="@callSite" layout="${callsite:filename=true}" />
        <parameter name="@exception" layout="${exception:tostring}" />
      </target>

    </targets>
    
    <rules>

      <logger name="*" minlevel="Info" writeTo="logconsole" />
      <logger name="*" minlevel="Debug" writeTo="logfile" />

      <logger name="*" minlevel="Debug" writeTo="gmail" />
      <logger name="*" minlevel="Trace" writeTo="database" />

    </rules>
  </nlog>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>